  <!-- Loop over each object in the projects array -->

  <div class='container-fluid hero'>
    <div class='row'>
      {{#each pcBuilds as |pcBuild|}}
        <div class='col-md-5'>
          <h2>
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            <a href='/pcBuilds/{{pcBuild.id}}'>{{pcBuild.name}}</a>
          </h2>
          <p>PC Parts List (JSON):</p>
          <pre>{{stringify pcBuild.pcPartsList}}</pre>
          <p>Created by {{pcBuild.email}}</p>
        </div>
        <div class='col-md-7'>
          <p>
            {{pcBuild.comments}}
          </p>
        </div>
      {{/each}}
    </div>
  </div>