<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{personal_comments}}</p>
  <p>Created by {{guest.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">PC BUILD</button>
  </p>
</div>

{{#if parts}}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Amazon Link</th>
    </tr>
  </thead>
  <tbody>
    {{#each parts as |part|}}
    <tr>
      <td>{{part.description}}</td>
      <td>{{part.name}}</td>
      <td>{{part.price}}</td>
      <td><a href="https://www.amazon.com/s?k={{part.name}}">Shop {{part.name}} @ amazon</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{/if}}
